<div class="card">
  <div class="card-header single-post">
    <h2>{{title}}</h2>

    <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
  <div class="comment">
    <p>
      {{content}}
    </p>
  </div>
  {{#if logged_in}}
    <div>
      <form class="comment-form comment-header">
        <label for="post-comment">Add a comment</label>
        <br />
        <textarea class="form-input" type="text" id="post-comment" cols="50" rows="10"></textarea>
        <button id="commentBtn">Comment</button>
      </form>
    </div>
  {{else}}
    <div class="card comment bold">
      <p>
        <a href="/login">Log in to comment</a>
      </p>
    </div>
  {{/if}}
  {{!-- {{#if comments}} --}}
  {{#each comments as |comment|}}
    <div class="card">
      <div class="card-header"></div>
      <div class="comment">
        <h2>{{comment.content}}</h2>
        <p>Commented by
          {{comment.user.name}}
          on
          {{format_date comment.date_created}}</p>
      </div>
    </div>
  {{/each}}
  {{!-- {{/if}} --}}
</div>
{{#if logged_in}}
  <script src="./js/post-comment.js"></script>
{{/if}}